<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mis Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="todo-container">
    <form [formGroup]="form" (ngSubmit)="addTask()">
      <ion-item>
        <ion-input placeholder="Nueva tarea" formControlName="title"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="form.invalid">Agregar</ion-button>
    </form>

    <ion-list>
      <ion-item *ngFor="let task of tasks$ | async">
        <ion-label position="floating" [ngClass]="{ 'line-through': task.completed }">{{ task.title }}</ion-label>

        <ion-button slot="end" fill="clear" (click)="toggleTask(task)">
          {{ task.completed ? 'Deshacer' : 'Completar' }}
        </ion-button>

        <ion-button slot="end" fill="clear" color="danger" (click)="deleteTask(task.id!)">
          Eliminar
        </ion-button>

      </ion-item>
    </ion-list>
  </div>
</ion-content>
